@import "tailwindcss";

@theme {
  --color-brand: #5D4524;
  --color-brand-light: #F5F1E8;
  --color-brand-accent: #8EAF62;
  
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

body {
  @apply font-body bg-brand-light text-brand;
}
